.login-formular {
    margin-top: 50px;
}

.anmelden-btn {
    background-color: black;
    width: 100%;
    margin-top: 30px;
    border: none;
}

.anmelden-btn:hover {
    background-color: blue;
}

.hidden {
    display: none;
}

.login-message {
    margin-top: 30px;
}

.passwort-label{
    font-weight: bold;
}

.benutzername-label {
    font-weight: bold;
}