.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.suchen-btn {
    background-color: black;
    border: none;
}

.suchen-btn:hover {
    background-color: black;
}
