.infos {
    margin-top: 250px;
    text-align: center; 
}

.home-suchen-btn {
    background-color: black !important;
    border: none;
}

.home-suchen-btn:hover {
    background-color: blue !important;
}
