.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.icon {
    margin-right: 5px;
}

.navbar-nav {
    margin-left: 20px;
    font-weight: bold;
    font-size: 16px;
}
  
.nav-link {
    padding: 8px 15px;
    margin-right: 30px;
    border: none;
    border-radius: 4px;
    color: black; 
}

.logout-btn {
    background-color: black;
    padding: 10px 30px;
    border: none;
}

.logout-btn:hover {
    background-color: blue;
}

@media (max-width: 768px) {
    .logout-btn {
      color: black;
      padding: 0 !important; 
      background-color: transparent !important; 
      font-weight: bold;

    }
    .logout-btn:hover {
        background-color: transparent !important;
        color: black;
    }
}

 