form label {
    font-weight: bold;
}

.neuanlegen-btn {
    background-color: black;
    border: none;
    margin-top: 30px;
    width: 100%;
}

.neuanlegen-btn:hover {
    background-color: blue;
}

.TextAusgabeBuchAnlegen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
}