.buchsuchen-formular {
    margin-top: 50px;
}


.buch-suchen-form {
    display: flex;
}

.suchen-btn {
    background-color: black !important;
    border: none !important;
}

.suchen-btn:hover {
    background-color: #00c27b !important;
}

.table-container {
    width: 80%; 
    padding-top: 20px;
}

.info-modal .modal-content {
    background-color: #272727;
    color: white;
    border-radius: 10px;
}

.info-modal .modal-dialog {
    max-width: 700px;
    margin: 100px auto; 
}

.buch-suchen-form input{
    width: 400px;
    margin-right: 20px;
  }

  @media (max-width: 400px) {
    .buch-suchen-form {
      flex-direction: column; 
      margin-left: 10px;
      margin-right: 30px;
    }
  
    .buch-suchen-form input,
    .buch-suchen-form button {
      width: 350px;
      margin-bottom: 10px; 
    }
  }